/**
 * header
 */
h1 {
    font-size: 30px;
}

.page-heading { /* h2 */
    font-size: 26px;
    margin-bottom: 20px;
}

/**
 * site header
 */
.site-header {
    background-color: #424242;
   /**border-top: 5px solid #424242;**/
   border-bottom: 1px solid #e8e8e8;
   min-height: 56px;
   height: 70px;
   position: relative;
}

.site-header a/*, .page-link, .nav-list a*/ {
    color: #fff;
}

.sub-menu, .nav-list li:hover {
    background-color: #333;
}

.sub-menu li:hover {
    background-color: #000;
}

.site-title {
    float: left;
    vertical-align: baseline;
}

.site-nav {
    float: left;
    margin: auto;
    /*margin-left: 30px;*/
    vertical-align: baseline;
    font-size: 20px;
}

.nav-list {
    float: right;
    display: inline-block;
}

.nav-list li {
    display: inline-block;
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.nav-list li a {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-list li .sub-menu {
    display: none;
    z-index: 400;
    padding: 0px;
    margin: 10px 0 0;
    position: absolute;
}

.sub-menu li {
    display: block;
    margin: 0px;
    padding: 10px 0px;
}

/**
 * post list
 */
.post-list h2{
    margin: 0px;
}

.post-header {
    text-align: center;
    margin-bottom: 20px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 15px 0;
    text-align: center;
    color: #b3b3b1;
 }