---
layout: default
---
<div class="home">
    {% if page.title %}
        <h2 class="page-heading">Posts about {{ page.title }}</h2>
    {% else %}
        <h2 class="page-heading">All Posts</h2>
    {% endif %}
    <ul class="post-list">
    	<!-- index page -->
    	{% if page.title == null %}
    		{% for post in site.posts %}
            	{% include post-list.html %}
            {% endfor%}
        {% else %} <!-- posts page -->
        	{% for post in site.posts %}
    			{% if post.tag == page.title %}
                	{% include post-list.html %}
            	{% endif %}
    		{% endfor%}
        {% endif %}
    </ul>
    {{ content }}
</div>