<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="canonical" href="/">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">
    <script type="text/javascript" src="/assets/js/jquery-3.1.1.slim.min.js"></script>
</head>
<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
        <h1 class="site-title"><a href="/">{{site.title}}</a></h1>
        <nav class="site-nav">
            <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/nav/project">Project</a></li>
                    <li><a href="/nav/technology">Technology</a>
                        <ul class="sub-menu">
                            <li><a href="/nav/java">Java</a></li>
                            <li><a href="/nav/designpattern">DesignPattern</a></li>
                            <li><a href="/nav/algorithm">Algorithm</a></li>
                        </ul>
                    </li>
                    <li><a href="/nav/life">Life</a>
                        <ul class="sub-menu">
                            <li><a href="/nav/reading">Reading</a></li>
                            <li><a href="/nav/food">Food</a></li>
                            <li><a href="/nav/journal">Journal</a></li>
                        </ul>
                    </li>
                    <li><a href="/about/">About</a></li>
                </ul>
        </nav>
        </div>
    </header>
    <div class="wrapper">
        <div class="post-header">
    	    <h2>{{page.title}}</h2>
    	    <span class="post-meta">{{page.date}}</span>
        </div>
    	{{content }}
    </div>
    <footer class="site-footer">
        <div class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a>
            <span>&nbsp;&nbsp;&nbsp;Copyright @ Daisy</span>
        </div>
    </footer>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $('.nav-list li').hover(
            function() {
                $(this).find('.sub-menu').css('display', 'block');
            },
            function() {
                $(this).find('.sub-menu').css('display', 'none');
            }
        );
    });
</script>
</html>
